


<header class="page-header">
	<div class="container--wide">
            <div class="container">
                <div class="page-header__wrapper">
                    <div class="page-header__left-bar">
                        <div class="page-header__logo"><a href="./index.html"><img src="../img/logo.svg" alt=""></a></div>
                        <button class="button button--lang page-header__button-lang--top">EN</button>
                        <nav class="page-header__nav">
                            <ul class="page-header__menu menu">
                                <li><a href="#">РЕЗИДЕНТАМ</a></li>
                                <li><a href="#">ИНВЕСТОРАМ</a></li>
                                <li><a href="#">ОБУЧЕНИЕ</a></li>
                                <li><a href="#">НОВОСТИ</a></li>
                                <li><a href="#">КОНТАКТЫ</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="page-header__right-bar">
                        <p class="page-header__phone"><a href="tel:+7 812 313 88 15 ">+7 812 313 88 15 </a></p>
                        <button class="button button--base">СТАТЬ РЕЗИДЕНТОМ</button>
                        <button class="button button--lang page-header__button-lang">EN</button>
                    </div>
                    <ul class="page-header__social social">
                        <li><a href="#"><img src="../img/facebook.svg" alt="facebook"></a></li>
                        <li><a href="#"><img src="../img/instagram.svg" alt="instagram"></a></li>
                        <li><a href="#"><img src="../img/vk.svg" alt="vk"></a></li>
                        <li><a href="#"><img src="../img/youtube.svg" alt="youtube"></a></li>
                    </ul>
                </div>
            </div>
    </div>
</header>





