<footer class="page-footer">
    <div class="container">
        <div class="page-footer__wrapper">
            <div class="page-footer__left">
                <p>© 2021 – 2022 IT </p>
                <p class="page-footer__policy"><a href="#">Privacy policy</a></p>
            </div>
            <div class="page-footer__center">
                <ul class="page-footer__social social">
                    <li><a href="#"><img src="../img/facebook.svg" alt="facebook"></a></li>
                    <li><a href="#"><img src="../img/instagram.svg" alt="instagram"></a></li>
                    <li><a href="#"><img src="../img/vk.svg" alt="vk"></a></li>
                    <li><a href="#"><img src="../img/youtube.svg" alt="youtube"></a></li>
                </ul>
            </div>
            <div class="page-footer__right">
                <p class="page-footer__author">Designed by <span>UNKNOWN</span></p>
            </div>
        </div>
    </div>
</footer>