<header class="page-header page-header__mobile-closed">
    <div class="container--wide">
        <div class="container">
            <div class="page-header__wrapper">
                <div class="page-header__left-bar page-header__mobile-closed">
                    <button
                        class="page-header__burger page-header__mobile-closed"
                    ></button>
                    <div class="page-header__logo">
                        <a href="./index.html">TECHї</a>
                    </div>
                    <button
                        class="page-header__button-lang--top button button--lang page-header__mobile-closed"
                    >
                        EN
                    </button>
                    <nav class="page-header__nav page-header__mobile-closed">
                        <ul class="page-header__menu menu">
                            <li class="page-header__mobile-link-only">
                                <a href="./main.html">MAIN PAGE</a>
                            </li>
                            <li><a href="./customers.html">CUSTOMERS</a></li>
                            <li><a href="./investors.html">INVESTOR</a></li>
                            <li><a href="./education.html">EDUCATION</a></li>
                            <li><a href="./news.html">NEWS</a></li>
                            <li><a href="./contacts.html">CONTACTS</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="page-header__right-bar page-header__mobile-closed">
                    <p class="page-header__phone">
                        <a href="tel:+380 00 000 00 00 ">+380 00 000 00 00 </a>
                    </p>
                    <button class="button button--base button__resident">
                        Become a resident
                    </button>
                    <button
                        class="button button--lang page-header__button-lang"
                    >
                        EN
                    </button>
                </div>
                <ul class="page-header__social page-header__mobile-closed">
                    <li>
                        <a href="#"
                            ><img src="./img/facebook.svg" alt="facebook"
                        /></a>
                    </li>
                    <li>
                        <a href="#"
                            ><img src="./img/instagram.svg" alt="instagram"
                        /></a>
                    </li>
                    <li>
                        <a href="#"><img src="./img/vk.svg" alt="vk" /></a>
                    </li>
                    <li>
                        <a href="#"
                            ><img src="./img/youtube.svg" alt="youtube"
                        /></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
