.button{
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
        &--base{
            background-color: @brand-color;
            color: white;
            padding: 15px 30px;
                @media @mobile {
                    width: 100%;
                }
        }
        &__reset{
            padding: 0;
            border: 0;
            background-color: transparent;
            cursor: pointer;
        }
        &--lang{
            padding: 15px;
            border: 3px solid #E8EEF1;
                &:hover{
                    border: 3px solid @brand-color;
                    cursor: pointer;
                    transition: 0.7s;
                }
        }
        &__resident{
            border: 1px solid transparent;
            &:hover{
                background-color: white;
                color: @brand-color;
                border: 1px solid @brand-color;
                cursor: pointer;
                transition: 0.7s;
            }
        }
}