.news {
    margin-top: 120px;
    @media @mobile {
        margin-top: 0;
    }
    & .container {
        position: relative;
    }
    &__to-all {
        position: absolute;
        top: 0;
        right: 0;
    }
    &__heading {
        font-weight: 300;
        font-size: 40px;
        margin-bottom: 60px;
    }
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 100px;
        @media @tablet {
            column-gap: 20px;
        }
        @media @mobile {
            display: flex;
            flex-direction: column;
        }
    }
    &__item {
        font-size: 13px;
        font-weight: 200;
        display: flex;
        flex-direction: column;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background-color: #e8eef1;
            top: -10px;
        }
        @media @mobile {
            padding: 20px 0 40px 0;
        }
    }
    &__date {
        color: #7f939d;
        order: -1;
        margin-bottom: 10px;
    }
}
